body{
    background-color: #000000;
    overflow: hidden;
}


nav{
    height: 95px;
}


/*Extras*/
.extras{
    display: flex;
    justify-content: space-between;
    margin: -35px -10px 0 0;
    font-family: "Secondary-Font-Bold", "NotoSans-Bold", sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    flex-direction: row;
    padding: 20px;
}

.extras ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

.extras ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 30px; /* Agrega separación horizontal entre los enlaces */
}

.extras ul li a:hover {
    text-decoration: underline;
}

.extras img{
    margin: 10px 10px;
    width: 60px;
    height: 40px;

}

/*Boton*/

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.boton-ingreso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton-ingreso a{
    background-color: #f48322;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
}

.boton-ingreso a:hover{
    background-color: #f53f1f;
    color: #ffffff;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 10px;
    padding: 20px;
    gap: 10px;
}

/*Card*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; 
    max-width: 200px; 
    height: auto;
    gap: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}

.overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 84%; 
    height: 84%; 
    background-color: rgba(14, 12, 12, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: inherit;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay .icono1,
.overlay .icono2 {
    font-size: 24px;
    color: white;
    margin: 0 25px; 
    z-index: 1; 
}

.card a{
    color: #ffffff;
    text-decoration: none;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: -20px;
}

.redes a img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

