
.titulo-galeria{
    text-align: center;
    margin-top: 20px;
    font-size: 4rem;
    color: #f53f1f;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;

}
.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
}

@media (min-width: 769px) {
    .galeria img {
        cursor: pointer;
    }
}

.ventana {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.cierre {
    position: absolute;
    top: 15px;
    right: 350px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.cierre:hover,
.cierre:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/*Media para celulares*/

@media (max-width: 768px) {
    .ventana {
        display: none !important;
    }

    .contenido{
        display: none !important;
    }

    .cierre
    {
        display: none !important;
    }
}