.contenedor-historia {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 20px;
    margin: 20px;
}

.historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historia h2 {
    font-size: 30px;
    color: #000000;
    font-family: 'inherit', sans-serif;
    text-align: center;
}

.historia p {
    font-size: 20px;
    color: #000000;
    font-family: 'rubik',sans-serif;
    text-align: center;
    font-size: 13px;
}

.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-perfil img {
    max-width: 100%;
    width: 200px; 
    height: 300px;
    border-radius: 20%; 
}

.foto-perfil h3{
    font-size: 20px;
    color: #f48322;
    font-family: 'inherit', sans-serif;
    text-align: center;
    margin-top: 10px;
}

/* Media para la historia */
@media (max-width: 768px) {
    .contenedor-historia {
        display: block;
    }

    .historia .larga {
        display: none;
    }

    .foto-perfil {
        display: none;
    }
}